.root {
  flex-grow: 1;
}

.appBar {
  box-shadow: none !important;
  background-color: #fafafa !important;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  height: 70px;
}

.logo {
  margin: 0 auto;
  height: 30px;
}

.menuDrawer {
  max-width: 1200px !important;
}

.drawerPaper {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  color: inherit !important;
  text-decoration: none !important;
}
