.footer {
  position: absolute;
  bottom: 0 !important;
  background-color: #fefefe !important;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 90px;
  margin-top: 50px;
  left: 0;
  right: 0;
}

.footerLinks {
  text-align: center;
  font-size: 14;
  margin: 0 auto;
  padding-top: 80;
  padding-bottom: 10;
  max-width: 400px;
}

.copyright {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
